<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zhangyang.Reader">

    <uses-sdk android:minSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.example.zhangyang.Reader.MyApplication.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyappTheme">
        <activity
            android:name=".UI.Activity.Splash"
            android:hardwareAccelerated="true"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.zhangyang.Reader.UI.Activity.NewsActivity"
            ></activity>
        <activity
            android:name="com.example.zhangyang.Reader.UI.Activity.NewsArticleActivity"
            android:hardwareAccelerated="true"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name="com.example.zhangyang.Reader.UI.Activity.SettingsActivity"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>